/* line 8, /Users/dustingamble/Desktop/spa-boilerplate/src/assets/styles/index.sass */
* {
  box-sizing: border-box; }

/* line 11, /Users/dustingamble/Desktop/spa-boilerplate/src/assets/styles/index.sass */
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
  color: #555;
  background-image: url(../images/whiteBg.png);
  background-repeat: repeat; }

/* line 19, /Users/dustingamble/Desktop/spa-boilerplate/src/assets/styles/index.sass */
a {
  text-decoration: none;
  display: inline-block;
  color: #555; }
  /* line 23, /Users/dustingamble/Desktop/spa-boilerplate/src/assets/styles/index.sass */
  a:hover {
    color: #4d4d4d; }

/* line 27, /Users/dustingamble/Desktop/spa-boilerplate/src/assets/styles/index.sass */
.header, .footer {
  width: 100%;
  display: block;
  clear: both;
  float: left; }

/* line 34, /Users/dustingamble/Desktop/spa-boilerplate/src/assets/styles/index.sass */
.header {
  padding: 45px;
  margin: 0 3%;
  width: 90%;
  background-image: url(../images/dots.png);
  background-position: bottom center;
  background-repeat: repeat-x; }
  /* line 41, /Users/dustingamble/Desktop/spa-boilerplate/src/assets/styles/index.sass */
  .header h1 {
    position: absolute;
    top: 5px;
    left: 30px; }
    /* line 45, /Users/dustingamble/Desktop/spa-boilerplate/src/assets/styles/index.sass */
    .header h1 img {
      width: 200px; }

/* line 49, /Users/dustingamble/Desktop/spa-boilerplate/src/assets/styles/index.sass */
.nav {
  margin: 0;
  padding: 0;
  float: left;
  padding: 10px 0 0;
  text-align: center;
  display: block;
  margin: 0 auto 0 20px;
  width: 19%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 27px;
  padding: 130px 0px; }
  /* line 61, /Users/dustingamble/Desktop/spa-boilerplate/src/assets/styles/index.sass */
  .nav li {
    margin: 0;
    padding: 0;
    display: block;
    text-align: left;
    list-style: none;
    letter-spacing: 2px; }
    /* line 68, /Users/dustingamble/Desktop/spa-boilerplate/src/assets/styles/index.sass */
    .nav li a {
      padding: 9px 0px 5px;
      width: 0px;
      border-bottom: 3px solid rgba(233, 255, 255, 0); }
    /* line 72, /Users/dustingamble/Desktop/spa-boilerplate/src/assets/styles/index.sass */
    .nav li a:hover {
      display: inline-block;
      border-bottom: 3px solid #444652;
      width: 50px;
      display: inherit;
      -webkit-transition: 0.1s ease-in;
      transition: 0.1s ease-in; }
    /* line 79, /Users/dustingamble/Desktop/spa-boilerplate/src/assets/styles/index.sass */
    .nav li a:active {
      border-bottom: 3px solid #444652; }

/* line 82, /Users/dustingamble/Desktop/spa-boilerplate/src/assets/styles/index.sass */
.main {
  display: inline-block;
  width: 74%;
  height: 500px;
  border-bottom: solid 2px #efefef; }
  /* line 87, /Users/dustingamble/Desktop/spa-boilerplate/src/assets/styles/index.sass */
  .main h1 {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 5px; }
  /* line 92, /Users/dustingamble/Desktop/spa-boilerplate/src/assets/styles/index.sass */
  .main .page {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    white-space: nowrap; }
    /* line 98, /Users/dustingamble/Desktop/spa-boilerplate/src/assets/styles/index.sass */
    .main .page img {
      height: 475px; }

/* line 104, /Users/dustingamble/Desktop/spa-boilerplate/src/assets/styles/index.sass */
.footer {
  padding: 0;
  position: fixed;
  bottom: 0;
  padding: 0;
  background-image: url(../images/whiteBg.png);
  background-repeat: repeat; }
  /* line 111, /Users/dustingamble/Desktop/spa-boilerplate/src/assets/styles/index.sass */
  .footer p {
    margin: 0;
    padding-left: 25px;
    font-size: 12px;
    float: left; }
  /* line 116, /Users/dustingamble/Desktop/spa-boilerplate/src/assets/styles/index.sass */
  .footer ul {
    float: right;
    display: inline-block;
    margin: 0;
    padding: 0 25px; }
    /* line 121, /Users/dustingamble/Desktop/spa-boilerplate/src/assets/styles/index.sass */
    .footer ul li {
      display: inline-block;
      padding-right: 15px;
      font-size: 20px;
      padding: 15px; }
      /* line 124, /Users/dustingamble/Desktop/spa-boilerplate/src/assets/styles/index.sass */
      .footer ul li a:hover {
        color: #333333;
        text-shadow: 1px 1px 1px rgba(233, 5, 5, 0.3); }
