doctype html
html

  head

  meta(charset="utf-8")

  meta(http-equiv="X-UA-Compatible", content="IE=edge")

  title Web App Assignment

  meta(name="description", content="Hello World")

  meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")

  link(rel="stylesheet", href="assets/styles/main.css", type="text/css")

  link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")


  body

  div.wrapper

    header.header
    
      h1
        a(href="/")
          img(src="assets/images/logo.png")


    ul.nav

      li: a(href="/") News

      li: a(href="/about") Cuba

      li: a(href="/services") Russian

      li: a(href="/more") Vietnam

      li: a(href="/contact") Contact

    div.main

    footer.footer

      p Copyright &copy; 2014

      ul.fa-ul
        li: a(href="#") 
          i.fa-li.fa.fa-twitter
        li: a(href="#") 
          i.fa-li.fa.fa-facebook
        li: a(href="#")
          i.fa-li.fa.fa-rss
  

  // -----------------------------
  // Templates
  // -----------------------------

  script#home(type="text/template").
    {{{content}}}
    <div class="page home">
      {{#each newsItems}}
        <img src="{{image}}">
      {{/each}}
    </div>
    

  script#about(type="text/template").
    {{{content}}}
    <div class="page home">
      {{#each cubaItems}}
        <img src="{{image}}">
      {{/each}}
    </div>

  script#services(type="text/template").
    {{{content}}}
    <div class="page services">
      <img src="assets/images/propaganda/prop1.jpg">
      <img src="assets/images/propaganda/prop2.jpg">
      <img src="assets/images/propaganda/prop3.jpg">
      <img src="assets/images/propaganda/prop4.jpg">
      <img src="assets/images/propaganda/prop5.jpg">
      <img src="assets/images/propaganda/prop6.jpg">
      <img src="assets/images/propaganda/prop7.jpg">
      <img src="assets/images/propaganda/prop8.jpg">
      <img src="assets/images/propaganda/prop9.jpg">
      <img src="assets/images/propaganda/prop10.jpg">
      <img src="assets/images/propaganda/prop11.jpg">
      <img src="assets/images/propaganda/prop12.jpg">
    </div>

  script#more(type="text/template").
    {{{content}}}
    <div class="page more">
      <img src="assets/images/vietnam/nam6.jpg">
      <img src="assets/images/vietnam/nam5.jpg">
      <img src="assets/images/vietnam/nam4.jpg">
      <img src="assets/images/vietnam/nam3.jpg">
      <img src="assets/images/vietnam/nam2.jpg">
      <img src="assets/images/vietnam/nam1.jpg">
    </div>

  script#contact(type="text/template").
    <div class="page contact">{{{content}}}</div>

  // -----------------------------
  // Libraries
  // -----------------------------

  script(type="text/javascript", src="http://code.jquery.com/jquery-2.1.1.min.js")

  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js")

  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js")

  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js")


  // -----------------------------
  // Application
  // -----------------------------

  script(type="text/javascript", src="assets/scripts/main.js")
